.headline__description {
    color: var(--font-color-headline-title);
    padding: 2.8rem 0rem 3.7rem;
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .headline__description {
        font-size: 1.8rem;
    }
}