.projects__paragra {
    background: var(--bg-projects-warning) url(../../image/svg/information.svg) no-repeat left 1.5rem top 1.3rem;
    margin: 2rem auto 4rem;
    padding: 1.1rem 1.5rem 1.1rem 6.8rem; 
    max-width: 56.0rem;
    width: 88%;
}